html, body {
    left: 0;
    top: 0;
    font-size: 1.3rem;
    background-color: rgb(250, 250, 250);
    width: 100%;
    height: 100%;
    font-family: 'NanumSquare';
    font-weight: bold;
    text-align: center;
}


body{
    display: flex;
    justify-content: center;
}

.thinTxt{
    font-weight: normal;
    font-size: 0.8rem;
}

img{
    width: 300px;
    height: auto;
}

.item{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    width: fit-content;
    height: 500px;
    background-color: white;
    border-radius: 30px;
    box-shadow: 0 0 10px -2px;
    margin-left: 50px;
    margin-right: 50px;
}

button {
    padding: 10px 50px;
    font-size: 1.1rem;
    color: rgb(134, 70, 177);
    border: solid rgb(134, 70, 177);
    background-color: white;
    margin-top: 20px;
    margin-bottom: 10px;
}
button:hover {
    font-size: 1.1rem;
    color: white;
    border: solid rgb(134, 70, 177);
    background-color: rgb(134, 70, 177);
}

.container{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media ( max-width : 965px ){
    .container{
        width:100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 300px;
        margin-bottom: 300px;
    }

    .item{
        margin-top: 50px;
        margin-bottom: 50px;
    }

}

@media ( max-width : 375px ){

    .container{
        width:100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 250px;
        margin-bottom: 300px;
    }

    img{
        width: 200px;
        height: auto;
    }
}

@media (max-width : 360px){
    .container{
        margin-top: 300px;
    }
    .item{
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.nanumsquare { font-family: 'NanumSquare', sans-serif !important; }